<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dataset Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159551986-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-159551986-1');
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col">
                    <h2>{{ .Title }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ .Identifier }}
                </div>
                {{ if .LandingPage }}
                    <div class="col">
                        <a target="_blank" href="{{ .LandingPage }}">Landing Page</a>
                    </div>
                {{ end }}
                {{ if .DistAccessUrl }}
                    <div class="col pull-right">
                        Access URL:
                        {{ if .DistTitle }}
                            <a target="_blank" href="{{ .DistAccessUrl }}">{{ .DistTitle }}</a>
                        {{ else }}
                            <a target="_blank" href="{{ .DistAccessUrl }}">{{ .DistAccessUrl }}</a>
                        {{ end }}
                    </div>
                {{ end }}
                {{ if .DistDownloadUrl }}
                    <div class="col">
                        Download Link:
                        {{ if .DistTitle }}
                            <a target="_blank" href="{{ .DistDownloadUrl }}">{{ .DistTitle }}</a>
                        {{ else }}
                            <a target="_blank" href="{{ .DistDownloadUrl }}">{{ .DistDownloadUrl }}</a>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
            <div class="row">
                <div class="col">
                  &nbsp;
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row row-cols-4">
                <span class="col">
                    Last Modified:
                </span>
                <span class="col">
                    {{ .Modified }}
                </span>
                <span class="col">
                    Access Level:
                </span>
                <span class="col">
                    {{ .AccessLevel }}
                </span>
            </div>
            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <blockquote class="blockquote">
                    {{ .Description }}
                </blockquote>
            </div>
        </div>
        <div class="row">
            {{if .PublisherName }}
            <div class="row">
                <span class="col">Publisher: </span>
                <span class="col">{{ .PublisherName }} </span>
            </div>
            {{ end }}
            {{if .ContactEmail }}
                <div class="row">
                    <span class="col">Contact: </span>
                    <span class="col"><a href="{{ .ContactEmail }}?subject={{ .Title }} - {{ .Identifier }}" target="_blank">{{ .ContactFn }}</a></span>
                </div>
            {{ end }}
        </div>
        <div class="row">
            <div class="row">
                <span class="col">Keywords: {{ .Keyword }}</span>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <span class="col">BureauCode: {{ .BureauCode }}</span>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <span class="col">ProgramCode: {{ .ProgramCode }}</span>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <a class="btn btn-default" href="https://github.com/forrest321/sbadata"><span class="d-none d-sm-inline">View on GitHub </span><svg version="1.1" width="16" height="16" viewBox="0 0 16 16" class="octicon octicon-mark-github" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></svg></a>
            </div>
        </div>
    </div>
</body>
</html>